body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "hero"
    "nav-bar"
    "section"
    "footer";
  margin: auto;
}

.container {
  padding: 0 10vw;
}

.hero {
  background-color: rgba(0, 0, 0, 0.658);
  grid-area: hero;
  height: 70vh;

  position: relative;
}

#vbg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

hr {
  width: 100%;
}

.htitle {
  margin: 0;
}

header {
  width: 20em;
  border-radius: 5px;
  background-color: rgba(16, 16, 77, 0.493);
  box-shadow: 0px 0px 0px 0px;
  position: absolute;
  left: 10vw;
  top: 20vh;

  display: flex;
  flex-direction: column;
  padding: 20px;
  backdrop-filter: blur(5px);
}

.arrow {
  color: white;
  font-size: 34px;
  transform: rotate(90deg);
  font-weight: bolder;
  position: absolute;
  left: 50vw;
  bottom: 8vh;

  animation: arrow-down 0.5s infinite linear;
}

nav {
  background: rgba(0, 0, 5, 0.932);
  color: rgb(218, 203, 203);
  grid-area: nav-bar;

  position: sticky;
  top: -1px;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

section {
  background-color: rgba(209, 217, 224, 0.562);
  grid-area: section;
  /* padding: 0 10vw; */

  display: flex;
  flex-direction: column;
}
article {
  padding: 0 10vw;
}

.img1 {
  background: url(./assets/IMG_20231119_140743.jpg);
  height: 60vh;
}

.img2 {
  background: url(./assets/IMG_20231119_141536.jpg);
  height: 60vh;
}

.img3 {
  background: url(./assets/IMG_20231119_141600.jpg);
  height: 60vh;
}

.content div {
  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parabox {
  background: rgba(0, 0, 0, 0.527);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  letter-spacing: 5px;
}

footer {
  background: black;
  grid-area: footer;
  color: white;
  display: flex;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: small;
}

/* Animations */

@keyframes arrow-down {
  0% {
    left: 50vw;
    bottom: 8vh;
  }

  100% {
    left: 50vw;
    bottom: 3vh;
  }
}
